# PostgreSQL
POSTGRES_USER=berlinstar
POSTGRES_PASSWORD=SCHIMBA_ASTA_CU_PAROLA_SIGURA
POSTGRES_DB=berlinstar

# Backend
DATABASE_URL=postgresql+asyncpg://berlinstar:SCHIMBA_ASTA_CU_PAROLA_SIGURA@db:5432/berlinstar
SECRET_KEY=GENEREAZA_CU__python3_-c__import_secrets_print_secrets.token_hex_32
CORS_ORIGINS=http://IP_SERVER_TAU

# Frontend (optional, default: /berlinstar/)
# VITE_BASE_PATH=/

# Hetzner Object Storage (S3-compatible)
S3_ENDPOINT_URL=https://nbg1.your-objectstorage.com
S3_BUCKET=professorprimeprod
S3_ACCESS_KEY=KW1B8XLFY71MTLI11OSN
S3_SECRET_KEY=nWo1lQFFwpxtQJZ78srP4LgHnHoG26QCrirhnO3l
S3_PUBLIC_URL=https://professorprimeprod.nbg1.your-objectstorage.com
